{
  extends: [
    "@inc",
    "plugin:@typescript-eslint/recommended"
  ],
  parser: "@typescript-eslint/parser",
  parserOptions: {
    ecmaVersion: 2018,
    sourceType: "module"
  },
  plugins: [
    "@typescript-eslint"
  ],
  rules: {
    "@typescript-eslint/no-use-before-define": [
      "error", {
        classes: true,
        functions: false
      }
    ]
  }
}
